@model IEnumerable<MVC.ViewModels.PostViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<script language="javascript">
    //function LikePost(form) {
    //    $(form).parents('li').remove();
    //}
    function updatePostLikes(postId)
    {
        id = "like_info_" + postId;
        el = document.getElementById(id);
        el.textContent = parseInt(el.textContent) + 1;
    }
</script>

<section>
    <div class="container-fluid">
        <form class="form-group col align-items-center" asp-controller="Home" asp-action="AddPost">
            <label for="postText">AddPost</label>
            <textarea name="postText" type="textarea" class="form-control" placeholder="Enter Post Text"></textarea>
            <button type="submit" class="btn btn-sm btn-danger float-right">Send</button>
         </form>
    </div>
    <ul class="list-group list-group-lg list my--4">
        @foreach (var post in Model)
        {
            <li class="list-grop list-group-item px-0">
                <div class="row ml-0 align-items-center">
                    <span class="avatar avatar-lg rounded-circle">
                        <img class="img-fluid avatar-img profile-avatar" src="https://www.pinclipart.com/picdir/big/420-4203805_alto-saxophone-clipart.png" alt="">
                     </span>
                    <div class="col ml--2">
                        <h4 class="card-title mb-1">
                            <a href="#!">@(post.AuthorName + " " + post.AuthorSurname)</a>
                        </h4>
                        <p class="card-text small text-muted mb-1">
                            @post.AuthorEmail
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="card-text text-center mr-4 ml-4 mt-2 mb-2">
                            @post.Text
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="btn btn-sm btn-danger float-right" id="@("like_info_" + post.Id)">
                            @(post.Likes)
                        </div>

                        <form class="float-right" asp-controller="Home" asp-action="LikePost" asp-route-postId="@post.Id" data-ajax="true">
                            <button type="submit" onclick="updatePostLikes('@post.Id')" class="btn btn-sm btn-danger">
                                Like
                            </button>
                        </form>
                    </div>
                    <div class="col-12">
                        <form class="form-group align-items-center" asp-controller="Home" asp-action="AddComment">
                            <label for="@("comment_text_" + post.Id)">Comment:</label>
                            <textarea name="commentText" type="textarea" class="form-control" id="@("comment_text_" + post.Id)" placeholder="Enter Comment"></textarea>
                            <button type="submit" class="btn btn-sm btn-danger float-right">Send</button>
                        </form>
                    </div>
                    <div class="col-12">
                        <ul class="list-group list-group-lg list-group-flush list my--4">
                            @foreach (var comment in post.Comments)
                            {
                                <li class="list-group-item ml-5 mr-2 px-0">
                                    <div class="row ml-0 align-items-center">
                                        <span class="avatar avatar-lg">
                                            <img class="img-fluid avatar-img rounded-circle profile-avatar" src="https://www.pinclipart.com/picdir/big/420-4203805_alto-saxophone-clipart.png" alt="">
                                        </span>
                                        <div class="col">
                                            <h4 class="card-title small mb-1">
                                                <a href="#!">@(comment.AuthorName + " " + comment.AuthorSurname)</a>
                                            </h4>
                                            <p class="card-text small text-muted mb-1">
                                                @comment.AuthorEmail
                                            </p>
                                            <div class="text-secondary">
                                                <p class="card-text text-center mr-4 ml-2 mt-1 mb-1">
                                                    @(comment.Text + comment.Id)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </li>
        }
    </ul>
</section>