@model IEnumerable<MVC.Web.ViewModels.PostViewModel>
@{
    ViewData["Title"] = "Home Page";
}


<style>
</style>

<script language="javascript">
    function LikePost(form) {
        $(form).parents('li').remove();
    }
    function updatePostLikes(postId)
    {
        id = "like_info_" + postId;
        el = document.getElementById(id);
        el.textContent = parseInt(el.textContent) + 1;
    }
    //$(postId).html(a);
    //and probably call document.forms[0].submit();
</script>

<section>
    @*@foreach (var comment in item.Comments)
        {
            <div class="col-12 break-text post-comment">
                <p>@(comment.AuthorName + ": " + comment.Text)</p>
            </div>*@

    <ul class="list-group list-group-lg list-group-flush list my--4">
        @foreach (var post in Model)
        {
            <li class="list-group-item px-0">
                <div class="row align-items-center">
                    <div class="col-2" style="width: 100%">
                        <span class="avatar avatar-lg">
                            <img class="img-fluid avatar-img" src="https://www.pinclipart.com/picdir/big/420-4203805_alto-saxophone-clipart.png" alt="">
                        </span>
                    </div>
                    <div class="col ml--2">
                        <h4 class="card-title mb-1">
                            <a href="#!">@(post.AuthorName + " " + post.AuthorSurname)</a>
                        </h4>
                        <p class="card-text small text-muted mb-1">
                            @post.AuthorEmail
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="card-text text-center mr-4 ml-4 mt-2 mb-2">
                            @post.Text
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="btn btn-sm btn-danger float-right" id="@("like_info_" + post.Id)">
                            @(post.Likes)
                        </div>

                        <form class="float-right" asp-controller="Home" asp-action="LikePost" asp-route-postId="@post.Id" data-ajax="true">
                            <button type="submit" onclick="updatePostLikes('@post.Id')" class="btn btn-sm btn-danger">
                                Like
                            </button>
                        </form>
                    </div>
                    <div class="col-12">
                        <form class="align-items-center" asp-controller="Home" asp-action="AddComment">
                            <label>Comment</label>
                            <input name="commentText" type="text" class="form-control" id="@("comment_text_" + post.Id)" placeholder="Enter Comment">
                            <button type="submit" class="btn btn-sm btn-danger">Send</button>
                        </form>
                     
                    </div>
                    <div class="col-12">
                        <ul class="list-group list-group-lg list-group-flush list my--4">
                            @foreach (var comment in post.Comments)
                            {
                                <li class="list-group-item ml-5 mr-2 px-0">
                                    <div class="row align-items-center">

                                        <div class="col-2" style="width: 100%">
                                            <span class="avatar avatar-lg">
                                                <img class="img-fluid avatar-img rounded-circle profile-avatar" src="https://www.pinclipart.com/picdir/big/420-4203805_alto-saxophone-clipart.png" alt="">
                                            </span>
                                        </div>
                                        <div class="col-8 bg-light">
                                            <h4 class="card-title small mb-1">
                                                <a href="#!">@(comment.AuthorName + " " + comment.AuthorSurname)</a>
                                            </h4>
                                            <p class="card-text small text-muted mb-1">
                                                @comment.AuthorEmail
                                            </p>
                                            <div class="text-secondary">
                                                <p class="card-text text-center mr-4 ml-2 mt-1 mb-1">
                                                    @(comment.Text + comment.Id)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </li>
        }
    </ul>
</section>