@{
    ViewData["Title"] = "Home Page";
}


<style>
</style>

<script language="javascript">

    function Reset() {

        //Do Some thing

    }

</script>

<section>
    <div class="container-fluid">
        <div class="row home-view">
            <div class="col-2 menu">
                <div>Menu</div>
            </div>
            <div class="col-10 wall">
                @foreach (var el in Model.GetAll())
                {
                    <div class="row post">
                        @*<div class="col-2 fill"></div>*@
                        <div class="col-12">
                            <div class="col-12 profile-text">
                                <b profile-text>@(el.AuthorName + " " + el.AuthorSurname)</b>
                            </div>
                            <div class="col-12 profile-text">
                                <b profile-text>@(el.AuthorEmail)</b>
                            </div>
                        </div>
                        <div class="col-12 mt-3 break-text post-text">
                            <p>@(el.Text)</p>


                            <form method="post">
                                Name:
                                <input type="submit" />
                            </form>

                            <input type="text" data-val="true"
                                   id="Customer_Name" maxlength="10" name="Customer.Name" value="" />

                            @*<input type="button" title="Like" value=@("Likes: " + el.Like) onclick="Like" />*@
                            @*                            <form method="post"><button class="btn btn-default">@("Likes: " + el.Likes)t</button></form>*@

                        </div>
                        @foreach (var comment in el.Comments)
                        {
                            <div class="col-12 break-text post-comment">
                                <p>@(comment.AuthorName + ": " + comment.Text)</p>
                            </div>
                        }
                    </div>
                    <hr>
                }
            </div>
        </div>
    </div>
</section>