@model IEnumerable<MVC.ViewModels.PostViewModel>
@{
    ViewData["Title"] = "Home Page";
}


<style>
</style>

<script language="javascript">

    function LikePost(form) {
        $(form).parents('li').remove();
    }

    function updatePostLikes(postId)
    {
        id = "like_info_" + postId;
        el = document.getElementById(id);

        el.textContent = parseInt(el.textContent) + 1;
        //$(postId).html(a);
        //and probably call document.forms[0].submit();
    }

</script>

<section>
@*</div>
                            @foreach (var comment in item.Comments)
                            {
                                <div class="col-12 break-text post-comment">
                                    <p>@(comment.AuthorName + ": " + comment.Text)</p>
                                </div>
                            }
                        </div>
                        <hr>
                    }
                }
            </div>
        </div>
    </div>*@

    <ul class="list-group list-group-lg list-group-flush list my--4">
        @foreach (var post in Model)
        {
            <li class="list-group-item px-0">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="avatar avatar-lg">
                            <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.pinclipart.com%2Fpicdir%2Fbig%2F420-4203805_sans-the-skeleton-copy-png-megalovania-sans-memes.png&imgrefurl=https%3A%2F%2Fwww.pinclipart.com%2Fmaxpin%2FihmJRhw%2F&tbnid=_x-BXGQp-ubhjM&vet=12ahUKEwihpqa9y4DoAhXQxqQKHYyqCKAQMygPegUIARCKAg..i&docid=cx8IpNmXCoWpqM&w=1418&h=1346&q=megalovania%20skeleton&ved=2ahUKEwihpqa9y4DoAhXQxqQKHYyqCKAQMygPegUIARCKAg" alt="" class="avatar-img">
                        </span>
                    </div>
                    <div class="col ml--2">
                        <h4 class="card-title mb-1">
                            <a href="#!">@(post.AuthorName + " " + post.AuthorSurname)</a>
                        </h4>
                        <p class="card-text small text-muted mb-1">
                            @post.AuthorEmail
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="card-text text-center mr-4 ml-4 mt-2 mb-2">
                            @post.Text
                        </p>


                        <div class="col-12">
                            <div class="btn btn-sm btn-danger float-right" id="@("like_info_" + post.Id)">
                                @(post.Likes)
                            </div>

                            <form class="float-right" asp-controller="Home" asp-action="LikePost" asp-route-postId="@post.Id" data-ajax="true">
                                <button type="submit" onclick="updatePostLikes('@post.Id')" class="btn btn-sm btn-danger">
                                    Like
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul></section>
