@{
    ViewData["Title"] = "Home Page";
}


<style>
</style>

<script language="javascript">

    function Reset() {

        //Do Some thing

    }

</script>

<section>
    <div class="container-fluid">
        <div class="row home-view">
            <div class="col-2 menu">
                <div>Menu</div>
            </div>
            <div class="col-10 wall">
                @foreach (var el in Model.PostItems)
                {
                    <div class="row post">
                        @*<div class="col-2 fill"></div>*@
                        <div class="col-12">
                            <div class="col-12 profile-text">
                                <b profile-text>@(el.AuthorName + " " + el.AuthorSurname)</b>
                            </div>
                            <div class="col-12 profile-text">
                                <b profile-text>@(el.AuthorEmail)</b>
                            </div>
                        </div>
                        <div class="col-12 mt-3 break-text post-text">
                            <p>@(el.Text)</p>


                            @*<input type="button" title="Like" value=@("Likes: " + el.Like) onclick="Like" />*@
                            @*                            <form method="post"><button class="btn btn-default">@("Likes: " + el.Likes)t</button></form>*@


                            @*<form asp-controller="Home" asp-action="LikePost" method="post">
            <!-- Input and Submit elements -->
            <input name="id" type="hidden" value="<removed for brevity>">
            <button asp-page="About">@("Likes: " + el.Likes)</button>
        </form>*@
                            @*<form  asp-controller="Home" asp-action="LikePost">
            <a asp-route-id="@el">Like</a>                <input asp-for="ReleaseDate" class="form-control" />
            <input asp-for="" class="form-control" />
        </form>*@

                            @*<form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Id" class="control-label"></label>
                                    <input asp-for="Id" class="form-control" />
                                </div>

                            </form>*@
                        </div>
                        @foreach (var comment in el.Comments)
                        {
                            <div class="col-12 break-text post-comment">
                                <p>@(comment.AuthorName + ": " + comment.Text)</p>
                            </div>
                        }
                    </div>
                    <hr>
                }
            </div>
        </div>
    </div>
</section>
